In [28]:
import pandas as pd
import pickle
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score

In [29]:
df = pd.read_csv('heart_disease_data.csv')
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [31]:
df['target'].value_counts()

target
1    165
0    138
Name: count, dtype: int64

In [32]:
#1---> DEFECTIVE HEART
#0---> NORMAL HEART

In [33]:
#input and output!
x = df.drop('target', axis=1)
y = df['target']

In [34]:
#Train Test Spliting
x_train,x_test,y_train,y_test = train_test_split(x,y, test_size=0.2, random_state = 42)
scaler =  StandardScaler()
x_train = scaler.fit_transform(x_train) #onlt train data is fit as fit means training!
x_test = scaler.transform(x_test)

In [35]:
model = LogisticRegression()
model.fit(x_train,y_train)
model_train_pred = model.predict(x_train)
model_accuracy = accuracy_score(model_train_pred,y_train)
print(model_accuracy*100,'%')

86.36363636363636 %

In [36]:
model_test_pred = model.predict(x_test)
model_test_accuracy = accuracy_score(model_test_pred,y_test)
print(model_test_accuracy*100,'%')

85.24590163934425 %

In [39]:
# Save model
with open("heart_disease_model.pkl", "wb") as f:
    pickle.dump(model, f)

# Save scaler
with open("scaler.pkl", "wb") as f:
    pickle.dump(scaler, f)

print("Model and scaler saved successfully!")

Model and scaler saved successfully!